<div class="container mt-5">
    <h1 class="text-center mb-4">Analytics Dashboard</h1>

    <div class="d-flex justify-content-center mb-4">
        <% if @user.analytics.any? %>
            <%= link_to "Regenerate Analytics", regenerate_analytics_user_path(current_user), class: "btn btn-primary" %>
        <% else %>
            <%= link_to "Generate Analytics", generate_analytics_user_path(current_user), class: "btn btn-primary" %>
        <% end %>
    </div>

    <% @analytics.each do |analytic| %>
        <div class="card mb-3 shadow-sm">
            <div class="card-header bg-secondary text-white">
                <h2 class="h5 card-title mb-0"><%= Analytic.titles[analytic.title] %></h2> 
                <% if analytic.analytics_chat %>
                    <%= link_to "Chat", analytics_chat_path(analytic.analytics_chat), class: "btn btn-primary btn-sm" %>'
                <% end %>
            </div>
            <div class="card-body bg-dark">
                <% if analytic.body %>
                    <p class="card-text"><%= markdown(analytic.body) %></p>
                <% end %>
            </div>
        </div>
    <% end %>
</div>