<div class="container mt-5" data-bs-theme="dark">
  <div class="card border border-secondary">
    <div class="card-body p-4">
      <div class="row">
        <div class="col-lg-4 text-center">
          <img src="<%= @user.profile_image_url %>" class="img-thumbnail rounded-circle mb-3" alt="Profile Image" style="width: 150px; height: 150px;">
          <h3 class="mt-2">@<%= @user.x_username %></h3>
          <p class="text-secondary"><%= @user.location %></p>
          <p><%= @user.description %></p>
        </div>

        <div class="col-lg-8">
          <h4 class="mb-3"><%= @user.name %></h4>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Email</h6>
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Account Created</h6>
                <p><%= @user.x_account_created_at %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Followers</h6>
                <p><%= @user.followers_count %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Following</h6>
                <p><%= @user.following_count %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Tweets</h6>
                <p><%= @user.tweet_count %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Likes</h6>
                <p><%= @user.like_count %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Listed</h6>
                <p><%= @user.listed_count %></p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="p-3 bg-dark rounded">
                <h6>Verified</h6>
                <p><%= @user.verified ? 'Yes' : 'No' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>